
.footer {
  display: flex;
  border: 1px solid white;
  height: 150px;
  margin: 40px;
}

.section-one {
  color: white;
  border: 1px solid white;
  width: 300px;
  margin: 10px 100px 200px;
  height: 140px;
}

.section-two {
  color: white;
  border: 1px solid white;
  width: 300px;
  margin: 10px 100px 200px;
  height: 140px;

}