
/* .footer {
  display: flex;
  border: 1px solid red;
  height: 180px;
  margin: 0px;
  background-color: black;
} */

.footer {
  display: flex;
  margin: 0;
  height: 20%px; 
  background-color: black;
  align-items: center;


  text-align: center;
}

.section-one {
  display: flex;
  flex-direction: column;
  color: white;
  
}

.section-two {

  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 150px;

  

}

.section-one a {

  margin: 10px;
  /* border: 1px solid red; */
  width: 5rem;
}

.section-two a {

  margin: 10px;
}

/* @media (max-width: 375px ) {

  .footer{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    }

    .section-one {
      color:aqua;
    }
} */