


.aboutus-container{
  margin: 0 auto;
  border: 5px solid red;
  padding: 3em;
  height: 800px;
  padding-top: 140px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}


.aboutus-container p{
  /* border:2px solid green; */
  width: 25em;
  font-size: 1.5em;
  color: white;
}