

.home-container{
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.products-container{
   position: relative;
   top: 60px;
    /* bottom: 100px; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow: auto;
    overscroll-behavior-inline: contain;
    margin: 50px 0px 50px 0;
    height: 310px;
    width: 1918px;
    /* border: 1px solid red; */
    padding:5px;
    /* border: 3px solid red; */
}

.video-one {

  width: 100%;
  height: 400px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 105px;

}

.video-two {

  width: 100%;
  height: 400px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 130px;
  margin-bottom: 1px;
}


.product-image {
  height:300px;
  margin:0px;
  width: 300px;
  margin-top: 0px;
 
}

.shop-link {
  position: relative;
  top: 120px;
  left: 30px;
}




/* 
.app-video {
  margin-left: 70px;
  margin-top: 9px;
  width: 1790px;
  height: 400px;
} */