

.home-container{
  /* border: 10px solid red; */
  
}

.products-container{
   position: relative;
   top: 60px;
    /* bottom: 100px; */
    white-space: nowrap;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow: auto;
    overscroll-behavior-inline: contain;
    margin: 50px 0px 50px 0;
    height: 500px;
    width: 1918px;
    /* border: 1px solid red; */
    padding:5px;
    /* border: 3px solid red; */
    /* border: 1px solid blue; */
}

.video-one {

  width: 100%;
  height: 400px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 1px;

}

.video-two {

  width: 100%;
  height: 400px;
  margin-right: 10px;
  margin-left: 0px;
  margin-top: 130px;
  margin-bottom: 1px;
}


.product-image {
  height:inherit;
  width: max-content;
  /* border: 1px solid blue; */
  display: inline-block;
 
}

.shop-link {
  position: relative;
  top: 120px;
  left: 30px;
}


@media (max-width: 375px ) {

  .shop-link {
    color:blue;
  }


  .products-container {
    position: relative;
    top: 60px;
    display: inline-block;
    white-space: nowrap;
    /* grid-auto-flow: row; */
    overflow-y: auto;
    /* overscroll-behavior-inline: contain; */
    margin: 50px 0px;
    height: 500px;
    width: 100%;
    padding: 5px;
    /* border: 1px solid red; */
 }

 .product-image{
  position: relative;
  top: 2px;
  /* border: 1px solid red; */
  display: inline-block;
  width: max-content;
  height: inherit;
 }

}


/* 
.app-video {
  margin-left: 70px;
  margin-top: 9px;
  width: 1790px;
  height: 400px;
} */