

.home-container{
 display: flex;
 flex-direction: column;
 gap: 5px;
}

.products-container{
   position: relative;
   top: 0px;
    /* bottom: 100px; */
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 23%;
    overflow: auto;
    overscroll-behavior-inline: contain;
    margin: 50px 0px 50px 0;
    height: 310px;
    width: 1918px;
    /* border: 1px solid red; */
    padding:5px;
}
/* 
.app-video {
  margin-left: 70px;
  margin-top: 9px;
  width: 1790px;
  height: 400px;
} */