 .merch{
  width: 80%;
 }

 .product-card-in-shop{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4em;
  align-items:center;
  padding: 10em;
  padding-left: 17em;
 }


.product-card-in-shop h3{
  font-size: 18px;
}

.shop-image {
  height:300px;
  margin:0px;
  width: 300px;
  margin-top: 0px;
  /* transform: translate(-50%, -50%); */
}


@media only screen and (max-width: 375px){

  .merch {
    border: 1px solid blue;
    width: 20em;
  }

  .product-card-in-shop {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1em;
  }
}