.app-header {
  text-align: center;
  background-color: black;
  height: 11vh;
  /* border: 1px solid red;  */
  width: 100vw;
  margin-top:0px;
  position: fixed;
  z-index: 1;
}

.app-header h3 {
  margin:20px;
  color: white;
  font-weight: bold;
}

.app-header a {

  margin: 3rem;
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  
}

@media (max-width: 375px ) {


 .app-header {
   position: fixed;
   width: 116vw;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }
  .all-links {
   display: none;
  }
  }
