.app-header {
  text-align: center;
  background-color: black;
  height: 11vh;
  width: 100vw;
  margin-top:0px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header h3 {
  margin:20px;
  color: white;
  font-weight: bold;
}

.app-header a {
  margin: 3rem;
  color: white;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
}

.fa-icons {
  display: none;
}

@media (max-width: 375px ) {
 .app-header {
   flex-direction: row;
   height: auto;
   padding: 1rem;
   overflow-x: hidden;
 }

 .fa-icons {
   display: block;
   margin-right: 1rem;
   z-index: 10;
 }

 .second-links {
   display:grid;
 }

 .media-links {
  text-transform: capitalize;
  font-size: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;
 }
 .all-links {
   display: none;
 }
}